{% extends "nav.html" %}
{% block body %}
<div>
    <div class="row">
        <div class="panel panel-default col-md-4 col-md-offset-4">
            <div class="panel-header">
                <span class="panel-title">{{ survey.name }}</span>
            </div>
            <div class="panel-body">
                {{ survey.description }}
            </div>
        </div>
    </div>

    <div class="row">
        {% if user.is_authenticated and can_take %}
        <form action="{% url 'survey' survey_id=survey.id %}" method="POST" class="form-horizontal col-md-4 col-md-offset-4">
            {% csrf_token %}
            {% for question in form_list %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="form-group">{{ question.answer.label }}</span>
                    </div>
                    <div class="panel-body">
                       <span class="form-group">{{ question.answer }}</span>
                    </div>
                </div>
            {% endfor %}
            <input class="btn btn-default" type="submit" value="Submit"/>

        </form>
        {% elif not can_take %}
            <div class="text-center">
                You have already completed this survey
            </div>
            <div class="text-center">
                View your results <a href="{% url 'taken_survey' survey_id=survey.id %}">here</a>
            </div>
        {% else %}
        <div class="text-center">
            <span>Please log in, or <a href="{% url 'add_user' %}">create an account</a>.</span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}